    <footer class="footer">
		<div class="footer-container">
      <a class="footer-logo" href="http://www.spirit-project.com" target="_blank">&nbsp;&nbsp;Spirit&nbsp;&nbsp;</a>
      <a class="footer-logo" href="http://www.swiftv.cn/school" target="_blank">&nbsp;&nbsp;SwiftV课堂&nbsp;&nbsp;</a>
      <a class="footer-logo" href="http://letsswift.com/"  target="_blank">&nbsp;&nbsp;一起Swift&nbsp;&nbsp;</a>
      <a class="footer-logo" href="http://swift.sh/topic/86/" >&nbsp;&nbsp;友链&nbsp;&nbsp;</a>
      <a class="footer-logo" href="http://swift.sh/topic/79/swift/" >&nbsp;&nbsp;资源&nbsp;&nbsp;</a>
      <a class="footer-logo" href="http://weibo.com/swiftsh" target="_blank">&nbsp;&nbsp;微博&nbsp;&nbsp;</a>
      <p class="footer-logo"  >&nbsp;&nbsp;QQ群1:337176674 群2:257281187&nbsp;&nbsp;</p>
		</div>
	</footer>